*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

:root {
  --white: #fff;
  --black: #131826;
  --blue: #4fa4b8;
  --dark: #202740;
  --purple: #474d84;
  --orange: #ffae70;
  --red: #d72337;
  --green: #82af69;
}

body * {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark);
  border-radius: 10px;
  border: 1px solid rgb(18 216 178/1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-title {
  padding-bottom: 14px;
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.list,
.list-item,
.list-item-body,
.list-item-header {
  display: flex;
}

.list {
  width: 100%;
  padding: 10px;
  flex-direction: column;
  gap: 8px;
}

.list-item {
  width: calc(100% - 20px);
  max-height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: var(--dark);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.list-item-header {
  width: 20%;
  align-items: center;
  justify-content: center;
}

.list-item-header-badge {
  position: absolute;
  margin-top: -20px;
  margin-left: -100px;
  width: 24px;
  height: 24px;
  display: block;
  padding: 2px;
  border-radius: 50%;
  background-color: var(--red);
  text-align: center;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  color: var(--white);
}

.list-item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--green);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.list-item-body {
  width: 80%;
  flex-direction: column;
  justify-content: center;
}

.list-item-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 0.125rem;
}

.list-item-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: var(--blue);
  letter-spacing: 0.1rem;
}

.list-item-time {
  font-size: 12px;
  font-weight: 400;
  color: var(--orange);
  letter-spacing: 0.1rem;
  margin-top: 4px;
}

.list-item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin-top: 8px;
}

.list-item-progress-bar {
  height: 8px;
  width: 100%;
  margin-top: 2px;
  background: var(--purple);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.list-item-progress-bar span {
  display: block;
  height: 100%;
  border-radius: inherit;
  background: var(--red);
  transition: width 0.6s ease;
}

.user-position{
  font-size: 1.2em;
  color: #c4c4c4;
  margin-top: 10px;
  justify-content: center;
}

.glow-on-hover, a {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #202740;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  top: 740px;

}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #202740
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202740;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
